<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextName>logback</contextName>
    <springProperty name="applicantName" scope="context" source="spring.application.name"/>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!-- 通用日志配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="logFile" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${LOG_FILE}"/>
<!--    <property name="LOG_FILE" value="/opt/smsBomb/${applicantName}.log"/>-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="file-appender.xml" />
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.lei2j.sms.bomb" level="INFO"/>
    <logger name="org.springframework.jdbc.core" additivity="false" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.apache.http" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <!-- ============ -->
    <!-- 开发环境 -->
    <!--springProfile的name属性对应application.properties中的spring.profiles.active-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>