<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>免费在线短信轰炸-仅供交流学习使用</title>
    <link rel="stylesheet" th:href="@{{contextPath}/js/bootstrap@4.6.0/css/bootstrap.min.css(contextPath=${application.smsBombStaticPath})}">
    <link rel="stylesheet" th:href="@{{contextPath}/js/bootstrap@4.6.0/flat-ui/css/flat-ui.min.css(contextPath=${application.smsBombStaticPath})}">
</head>
<body>
<div class="container-fluid" id="app">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">免费在线发送最多50条短信验证码</h1>
            <p class="lead">仅供交流学习使用。严禁滥用，骚扰他人！</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPhone" class="sr-only">手机号</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="手机号" v-model="form.phone">
                </div>
                <button type="button" class="btn btn-primary mb-2" @click="submit()">提交</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
</body>
<script th:src="@{{contextPath}/js/vue.js(contextPath=${application.smsBombStaticPath})}"></script>
<script th:src="@{{contextPath}/js/jquery@3.3.1/jquery-3.3.1.min.js(contextPath=${application.smsBombStaticPath})}"></script>
<script th:src="@{{contextPath}/js/bootstrap@4.6.0/js/bootstrap.bundle.min.js(contextPath=${application.smsBombStaticPath})}"></script>
<script th:src="@{{contextPath}/js/bootstrap@4.6.0/flat-ui/flat-ui.min.js(contextPath=${application.smsBombStaticPath})}"></script>
<script th:src="@{{contextPath}/js/common/public.js(contextPath=${application.smsBombStaticPath})}"></script>
<script type="text/javascript">
    let contextPath = '[[${application.contextPath}]]';
    let vue = new Vue({
        el:'#app',
        data:{
            phoneRegex:/^1[3456789]\d{9}$/,
            form:{
                phone:''
            }
        },
        created:function () {
        },
        methods:{
            submit:function () {
                if (!this.checkForm()) {
                    return;
                }
                $http.post(contextPath+'/smsBomb/send',{phone:this.form.phone})
                .then(function (res) {
                    gft.alert.success('操作成功', 2000);
                }).catch(function (reason) {
                    gft.alert.error(reason, 2000);
                })
            },
            checkForm(){
                if (!this.form.phone) {
                    gft.alert.error('手机号不能为空！', 2000);
                    return false;
                }
                if (!this.phoneRegex.test(this.form.phone)) {
                    gft.alert.error('手机号非法！', 2000);
                    return false;
                }
                return true;
            }
        }
    })
</script>
</html>